[submodule "LatticePoly/lib/VTK"]
	path = LatticePoly/lib/VTK
	url = https://github.com/Kitware/VTK.git
[submodule "LatticePoly/lib/hdf5-1.14.5"]
	path = LatticePoly/lib/hdf5-1.14.5
	url = git@github.com:HDFGroup/hdf5.git
